flask
feedparser
gunicorn


gcloud compute project-info describe \--format="value(commonInstanceMetadata.items.google-compute-default-region)"


--DEPLOYMENT
gcloud run deploy web-feed-service \
--source . \
--allow-unauthenticated \
--region us-west1

--JOB SCHEDULER
gcloud scheduler jobs create http feed-job \
--schedule="*/10 * * * *" \
--uri="" \
--http-method=GET \
--location=us-west1

--MANUAL TRIGGER
gcloud scheduler jobs run feed-job --location=us-central1
